<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="shortcut icon" href="https://owo.whats-th.is/221779.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
		<link id="currentstyle" rel="stylesheet" type="text/css" href="/static/styles/terminal/style.css" />
		<style>.fa-gavel {color: #30aa06; margin:0 -4px -4px 0 !important;}</style>
		<title>PyChat | #{{ channel }}</title>
		
	</head>
	<body id="main" class="w3-row" onbeforeunload="socket.emit('leave', {'channel' : '{{ channel }}'});">
		<div id="sideBar">
			<div id="logo">PyChat v0.5</div>
			<div id="info">
				<form class="gay" action="/chanswitch" method="POST">
				<input name="channel" id="channelSwitcher" placeholder="Change channel..." type="text"/><div class="hashtag">#</div>
			</form>
				<div id="connection">
					<div id="ping">NaN<div class="REE">Latency:</div></div>
					<div id="ip">{{ ip }}<div class="REE">IP:</div></div>
                    <a href="/logout">Logout</a> <br />
                    <a href="/m/chat/general">Switch to Mobile</a>
                    <div style="margin-top: 40px;">Theme:</div>
                    <select id="coverageSelector">
                        <option value="terminal">Terminal</option>
                        <option value="pyide">PyIDE</option>
                        <option value="mint">Mint</option>
                        <option value="leenux">Leenux</option>
                        <option value="matrix">Matrix</option>
                        <option value="skeuomorph">Skeuomorph</option>
                    </select>
                    <div class="users" id="users" style="margin-top: 40px;">Current Users: <br /></div>
				</div>
			</div>
			
			<div id="userInfo">{{ username }}</div>
		</div>
		<div id="chatWindow" class="w3-rest">
			<div id="channel"><div class="hashtag">#</div>{{ channel }}</div>
				<div class="chat" id="chat" style="overflow-y: scroll;">

					<p class="none">There have not been any messages since you joined.</p>
					
				</div>
			<form class="biggay" action="" method="POST">
			<input class="chatBox" id="chatBox" placeholder="Message #{{ channel }}..." type="text" autofocus autocomplete="off"/>
			<input type="submit">
			</form>
		</div>
	</body>

	<!-- JavaScript -->
    <script type="text/javascript">
        coverageSelector.onchange = function (e) {
            var selectedOption = this[this.selectedIndex];
            var selectedText = selectedOption.text;
            var theCss = document.getElementById('currentstyle');
            theCss.href = "/static/styles/" + selectedText.toLowerCase() + "/style.css"
    };
    </script>


  <!-- The following code is a hack for Socket.IO to recieve messages only addressed to the client -->
    <script type="text/javascript">

  // send
  function sendprevmsg(){
      socket.emit( 'getprevmsg', {
          channel : "{{ channel }}",
          key : "{{ key }}",
          group: "{{ group }}"
      } )
  }

  var socket = io.connect('https://' + document.domain + ':' + location.port);
  console.log("Connected successfully.")
  sendprevmsg();
  socket.emit('joinree', {user_name:"{{ username }}", channel:"{{ channel }}", key:"{{ key }}"});
    var form = $( 'form.biggay' ).on( 'submit', function( e ) {
      e.preventDefault()
      let user_input = $( 'input#chatBox' ).val()
      socket.emit( 'chatsend', {
        user_name : "{{ username }}",
        message : user_input,
        channel : "{{ channel }}",
        group : "{{ group }}"
      } )
      $( 'input#chatBox' ).val( '' ).focus()
    } );

// newUser
  socket.on( 'userconn', function( user ) {
      console.log('conn '+user.channel+":"+user.author);
      if(document.getElementById(user.author) != null){
          console.log("User exists!");
          return;
      }
      if(user.channel !== "{{ channel }}"){
          console.log("Failed on channel.")
          return;
      }
      else{
          console.log("Success.")
          if(user.staff == "yes"){
                $('div#users').append("<div class="+user.author+" id="+user.author+"><i class='fa fa-gavel'></i> "+user.author+"<br /></div>")
          }
          else{
                $('div#users').append("<div class="+user.author+" id="+user.author+">"+user.author+"<br /></div>")
      }
      }
  });

  socket.on('deson', function(json) {
      if(json.channel !== "{{ channel }}") {
          return;
      }
      else {
          alert("Message destruction is now enabled in this channel.");
      }
  });

  socket.on('desoff', function(json) {
      if(json.channel !== "{{ channel }}") {
          return;
      }
      else {
          alert("Message destruction is no longer enabled in this channel.");
      }
  });
// byeUser
  socket.on( 'userdiss', function( user ) {
      console.log('diss '+user.channel+":"+user.author);
      if(user.channel !== "{{ channel }}"){
          return;
      }
      else{
          $('div#'+user.author).remove()
      }
  });

  socket.on( 'chatrecieve', function( msg ) {
    console.log("Recieved msg.")
    console.log(msg.message)
    if( typeof msg.message !== 'undefined' ) {
      $( 'p.none').remove();
      var mesg = urlify(msg.message);
      var mesg = mesg.replace("</p>", "");
      if( msg.channel !== "{{ channel }}") {return;}
      else {
        if(mesg.includes("@{{ username }}")) {
          $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent pingedMessage">'+mesg+'</div></div>' );
          var audio = new Audio("/static/sounds/ding.wav");
          audio.play();
        } else {
          $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent">'+mesg+'</div></div>' );
        }
        var theDiv = document.getElementById('chat');
        theDiv.scrollTop = theDiv.scrollHeight;
        }
    }
  });


  // recieve
  socket.on('recvprevmsg', function(msg) {
      console.log("Recieved previous message!");
      if (msg.key == '{{ key }}'){
          var mesg = urlify(msg.message);
          var mesg = mesg.replace("</p>", "");
          if(mesg.includes("@{{ username }}")) {
          $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent pingedMessage">'+mesg+'</div></div>');
        } else {
          $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent">'+mesg+'</div></div>' );
        }
        $( 'p.none').remove();
      }
  });
</script>


<!-- Thanks to Cuboid on Discord for providing me with this to automatically highlight links! -->
<script>function urlify(text) {
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
        //if(url.match(/\.(jpeg|jpg|gif|png)$/) != null) {
        //    $( 'div#chat' ).append( "<img src="+url+">" );
        //}
	urlToEncode = url.replace("</p>", "")
        return '<a href="' + encodeURI(urlToEncode) + '" target="_blank">' + url + '</a>';
    })
    // or alternatively
    // return text.replace(urlRegex, '<a href="$1">$1</a>')
}</script>


</html>
