<!DOCTYPE html>
<html>
	<head>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="https://owo.whats-th.is/221779.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/homepage/terminal.css" />
		
		<title>PyChat</title>
		
	</head>
	<body>
		
		<h1 id="header" class="line typing">PyChat</h1>
	    <center><a href="/signup">Signup</a> <p>--</p>
        <a href="/login">Login</a> <p>--</p>
        <i>More info, credits, and features pages coming soon!</i>
	</center>	
	</body>

	<!-- JavaScript -->
	
</html>
