<!DOCTYPE html>
<html>
	<head>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="https://owo.whats-th.is/221779.ico" type="image/x-icon">	
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/login/terminal.css" />
		
		<title>PyChat Login</title>
		
	</head>
	<body>
		<form action="" method="POST" enctype="multipart/form-data">
			<div class="w3-display-middle login">
				<div class="header">Log into PyChat</div>
				<div class="loginField">
					<div>Username: </div><input class="username" type="text" name="username" placeholder="e.g. GreatestChatter123" />
					<div>Password: </div><input class="password" type="password" name="password" placeholder="e.g. c0Mpl3X%Pas5w0Rd" />
					<input class="loginButton" type="submit"/>
				</div>
			</div>
		</form>
	</body>

	<!-- JavaScript -->
	
</html>
