<!doctype html>
<!-- For Pauli, because you just *had to complain*, didn't you? -->
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link id="currentstyle" rel="stylesheet" type="text/css" href="/static/styles/terminal/pychatmobile.css" />
<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<meta charset="UTF-8">
  <link rel="manifest" href="/static/js/manifest.json">  
  <script src="//messaging-public.realtime.co/js/2.1.0/ortc.js"></script>

  
  <!-- THESE FILES ARE ONLY REQUIRED FOR THE CURRENT EXAMPLE -->
  <script src="/static/js/index.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://owo.whats-th.is/221779.ico" type="image/x-icon">
<style>.fa-gavel {color: #30aa06; margin:0 -3px -4px 0 !important;}</style>
<title>PyChat Mobile - #{{ channel }}</title>
</head>

<body onbeforeunload="socket.emit('leave', {'channel' : '{{ channel }}'});">
	<div id="chatWindow" class="w3-rest">
	  <div class="dabblox" id="channel" style=""><div class="hashtag">#</div>{{ channel }}</div>
				<div class="chat" id="chat" style="overflow-y: scroll;">

					<p class="none">There have not been any messages since you joined.</p>
					
				</div>
			<form class="biggay" action="" method="POST">
<input class="chatBox" id="chatBox" placeholder="Message #{{ channel }}..." type="text" autofocus autocomplete="off"/>
			
<input type="submit">
			</form>
</div>
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCNtA3_8zEYzIiLH864V5l9td87sjOB0cw",
    authDomain: "pychat-mobile.firebaseapp.com",
    databaseURL: "https://pychat-mobile.firebaseio.com",
    projectId: "pychat-mobile",
    storageBucket: "pychat-mobile.appspot.com",
    messagingSenderId: "36173969601"
  };
  firebase.initializeApp(config);
</script>
<script src="/static/js/WebPushManager.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {

    var client = startshit();

    $('.dabblox').click(function(){
		var new_chan = prompt("Enter the channel to switch to");
		if(new_chan != null){
			if(new_chan.indexOf("g-") !== -1){
				window.location.href = "https://" + document.domain + "/m/group/" + new_chan.replace("g", "").replace("-", "");
		}
			else{
				window.location.href = "https://" + document.domain + "/m/chat/" + new_chan;
		}
		}
    });
	
    // send
    function sendprevmsg(){
        socket.emit( 'getprevmsg', {
            channel : "{{ channel }}",
            key : "{{ key }}",
            group : "{{ group }}"
        } )
    }

    var socket = io.connect('https://' + document.domain + ':' + location.port);
    console.log("Connected successfully.")
    sendprevmsg();
    socket.emit('joinree', {user_name:"{{ username }}", channel:"{{ channel }}", key:"{{ key }}"});
      var form = $( 'form.biggay' ).on( 'submit', function( e ) {
        e.preventDefault()
        let user_input = $( 'input#chatBox' ).val()
        socket.emit( 'chatsend', {
          user_name : "{{ username }}",
          message : user_input,
          channel : "{{ channel }}",
          group : "{{ group }}"
        } )
        $( 'input#chatBox' ).val( '' ).focus()
      } );


      socket.on('deson', function(json) {
        if(json.channel !== "{{ channel }}") {
            return;
        }
        else {
            alert("Message destruction is now enabled in this channel.");
        }
    });

    socket.on('desoff', function(json) {
        if(json.channel !== "{{ channel }}") {
            return;
        }
        else {
            alert("Message destruction is no longer enabled in this channel.");
        }
    });

    socket.on( 'chatrecieve', function( msg ) {
      console.log("Recieved msg.")
      if( typeof msg.message !== 'undefined' ) {
        $( 'p.none').remove();
        var mesg = urlify(msg.message);
        var mesg = mesg.replace("</p>", "");
        if( msg.channel !== "{{ channel }}") {return;}
        else {
          if(mesg.includes("@{{ username }}")) {
            $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent pingedMessage">'+mesg+'</div></div>' );
            var audio = new Audio("/static/sounds/ding.wav");
            audio.play();
            send(client);
          } else {
            $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent">'+mesg+'</div></div>' );
          }
          var theDiv = document.getElementById('chat');
          theDiv.scrollTop = theDiv.scrollHeight;
          }
      }
    });


      // recieve
    socket.on('recvprevmsg', function(msg) {
        console.log("Recieved previous message!");
        if (msg.key == '{{ key }}'){
            var mesg = urlify(msg.message);
            var mesg = mesg.replace("</p>", "");
            if(mesg.includes("@{{ username }}")) {
            $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent pingedMessage">'+mesg+'</div></div>');
          } else {
            $( 'div#chat' ).append( '<div class="message"><div class="userName">'+msg.user_name+'<div class="timestamp">'+msg.timestamp+'</div></div><div class="arrow">></div><div class="messageContent">'+mesg+'</div></div>' );
          }
          $( 'p.none').remove();
        }
    });

  });
</script>


<!-- Thanks to Cuboid on Discord for providing me with this to automatically highlight links! -->
<script>function urlify(text) {
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
        //if(url.match(/\.(jpeg|jpg|gif|png)$/) != null) {
        //    $( 'div#chat' ).append( "<img src="+url+">" );
        //}
	urlToEncode = url.replace("</p>", "")
        return '<a href="' + encodeURI(urlToEncode) + '" target="_blank">' + url + '</a>';
    })
    // or alternatively
    // return text.replace(urlRegex, '<a href="$1">$1</a>')
}</script>
</body>
</html>
