<!DOCTYPE html>
<html>
	<head>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="shortcut icon" href="https://owo.whats-th.is/221779.ico" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/login/terminal.css" />
		
		<title>PyChat Signup</title>
		
	</head>
	<body>
	<form action="" method="POST" enctype="multipart/form-data">
		<div id="login" class="w3-display-middle">
			<div id="header">Signup for PyChat</div>
			<div id="loginField">
				<div>Username: </div><input required type="text" name="username" placeholder="Please enter your desired username..." />
				<div>Password: </div><input required type="password" name="password" placeholder="Please enter your desired password..." />
				<div>Email: </div><input required type="text" name="email" placeholder="Please enter your email..." />
				<input type="submit">
			</div>
		</div>
		</form>
	</body>

	<!-- JavaScript -->
	
</html>
